/* Write your code here. */
.winorloose-container {
  /* width: 50%; */
  background-color: #ffffff33;
  padding: 30px 60px;
  border-radius: 10px;
}
.play-again-btn {
  /* height: 40px;
  width: 80px; */
  background-color: #ffce27;
  border-style: none;
  border-radius: 18px;
  font-size: 15px;
  font-weight: bold;
  padding: 13px 18px;
}
.win-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  font-family: 'Roboto';
}
.text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}
.score-text {
  color: white;
  font-size: 25px;
  font-weight: 600;
  margin-right: 10px;
}
.win-heading {
  font-size: 55px;
  color: white;
  margin: 0;
  margin-bottom: 20px;
}
.win-text {
  font-size: 35px;
  font-weight: 600;
  color: white;
  margin: 0;
  margin-bottom: 10px;
}
.score {
  font-size: 45px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  color: #6a59ff;
}

@media screen and (max-width: 768px) {
  .winorloose-container {
    width: 90%;
  }
  .winorlose-Img {
    width: 70%;
    order: 0;
  }
  .text-section {
    order: 1;
  }
  .win-container {
    flex-direction: column;
  }
  .win-heading {
    font-size: 34px;
  }
  .win-text {
    font-size: 20px;
  }
  .score {
    font-size: 27px;
  }
}
