/* Write your code here. */
.nav-bar-container {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  background-color: #ffffff53;
}
.nav-img-container {
  margin-left: 80px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.nav-bar-img {
  background: transparent;
  height: 50px;
  width: 50px;
}
.img-text {
  color: white;
  font-weight: 600;
  font-size: 20px;
}
.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.para-text {
  margin: 20px;
  font-size: 25px;
  font-weight: 600;
  color: white;
  font-family: 'Roboto';
}
@media screen and (min-width: 769px) and (max-width: 1440px) {
  .para-text {
    margin: 20px;
    font-size: 25px;
    font-weight: 500;
    color: white;
    font-family: 'Roboto';
  }
}
@media screen and (max-width: 768px) {
  .nav-bar-container {
    padding: 10px;
  }
  .nav-img-container {
    margin-left: 10px;
    gap: 10px;
  }
  .nav-bar-img {
    background: transparent;
    height: 40px;
    width: 40px;
  }
  .img-text {
    font-size: 16px;
  }
  .score-text {
    font-weight: normal;
  }
  .para-text {
    margin: 5px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    font-family: 'Roboto';
    display: none;
  }
}
